@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

h1 {font-size: 2em;}

ion-content{
	background-image: url(../img/1.jpg);
	background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}
